<h1>Отзывы:</h1><br/>
<% @messages.each do |message| %>
    <% if message.inspected? == true %>
      <p><%= message.text %></p>
      <p><%= message.username %></p>
    <% end %>
<% end %>

<h2>Оставте свой отзыв:</h2>

<%= form_for :message, url: messages_path do |f| %>
    <p>
      <%= f.label 'Текст' %><br/>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.label 'Ваше имя' %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.submit 'Оставить отзыв' %>
    </p>
<% end %>